@import "tailwindcss";
@import "flowbite";

/* custom-scrollbar.css */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #1e135e; /* Tailwind's blue-900 */
  border-radius: 9999px;
}


